.country-list {
    overflow-y: scroll;
    height: 80%;
}
.country-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 16px;
    width: 78%;
    margin: 0 auto;
    margin-bottom: 16px;
}
.country-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.country-radio input:checked ~ .checkmark {
    background-color: #fff;
    border: 2px solid #000;
}
.country-radio input:checked ~ .checkmark:after {
    display: block;
}
.country-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: black;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    background-color: #000;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #eee;
}
.delivery-country-selector__overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 375px;
    max-height: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
    transition: right 100ms linear;
}
.delivery-country-selector__overlay .searchTitle {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.delivery-country-selector__overlay .searchTitle h2 {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.delivery-country-selector__overlay .searchTitle .cross {
    margin: initial;
    background: transparent;
    font-size: 1.2em;
}
.delivery-country-selector__overlay .searchTitle .cross:before {
    content: "\e90f";
    font-family: icons !important;
}
 
.delivery-country-selector__overlay .search-bar {
    display: flex;
    position: relative;
    height: 52px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 6px;
    width: 92%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 36px;
}
 
.delivery-country-selector__overlay .search-bar .country-search-input {
    width: 100%;
}
.delivery-country-selector__overlay .search-bar .searchIcon {
    margin: 0;
    max-width: 89px;
    flex: 1;
    flex-basis: 89px;
    padding: 0;
    border-radius: 0;
    font-size: 1.5rem;
    line-height: 48px;
    background-color: #000;
}
.delivery-country-selector__overlay .search-bar .searchIcon:before {
    font-family: icons !important;
    content: "\e941";
    color: #fff;
}
h2#change_country {
    font-weight: 700;
    color: black;
    margin-bottom: 2rem;
}
.slide {
    right: -375px;
}
 
.uk_info {
    display: block;
}
.ireland_info  {
    display: none;
}
.other_countries{
    display: none;
}